extends layout 
block content 
    link(rel="stylesheet", href="/css/detail.css")
    script.
        // pug 변수 bbs._id 데이터를
        // JS 에서 사용할 수 있도록 id 변수에 할당
        const id = `#{bbs._id}`
    script(src="/js/detail.js")
    section.bbs.detail
        article.bbs.detail 
            div.label 작성일자
            div.data= bbs.b_date 
            div.label 작성시각
            div.data= bbs.b_time
            div.label 작성자
            div.data= bbs.b_writer
            div.label 제목
            div.data= bbs.b_subject
            div.label 내용
            div.data= bbs.b_content
        div.bbs.detail.button.box 
            button.bbs.update 수정
            button.bbs.delete 삭제
            button.bbs.list 리스트로 
        div.bbs.comments
            div.comments.title COMMENTS
            div.comments.item
                each comment in bbs.b_comments
                    div.avatar
                    p= `${comment.ct_writer}: ${comment.ct_comment}`
            div.comments.input
                div.msg
                input(placeholder="댓글 입력...")#b_comment
                button.comment.add 댓글추가