<!-- root, /student 페이지에서 검색 폼과 함께 띄우는 학생 리스트 -->

<!DOCTYPE html>
<html lang="ko">
  <table class="student list">
    <thead>
      <tr>
        <th>학번</th>
        <th>이름</th>
        <th>학과</th>
        <th>학년</th>
        <th>전화번호</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach( (st)=>{ %>
      <!-- html data-* 속성, JS 에서 dataset 으로 사용 -->
      <!-- <%= 를 사용해도 동일 -->
      <tr data-st_num="<%- st.st_num %>">
        <td><%= st.st_num %></td>
        <td><%= st.st_name %></td>
        <td><%= st.st_dept %></td>
        <td><%= st.st_grade %></td>
        <td><%= st.st_tel %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</html>
