<!-- /student/insert, /student/st_num/update 페이지에 표시할 데이터 추가 폼 -->

<form method="POST" class="st_input">
  <fieldset>
    <legend>학생정보</legend>
    <!-- div*6>label+input -->
    <div>
      <label for="st_num">학번</label>
      <input name="st_num" id="st_num" value="<%= student.st_num %>" />
    </div>
    <div>
      <label for="st_name">이름</label>
      <input name="st_name" id="st_name" value="<%= student.st_name %>" />
    </div>
    <div>
      <label for="st_dept">학과</label>
      <input name="st_dept" id="st_dept" value="<%= student.st_dept %>" />
    </div>
    <div>
      <label for="st_grade">학년</label>
      <input
        type="number"
        name="st_grade"
        id="st_grade"
        value="<%= student.st_grade %>"
      />
    </div>
    <div>
      <label for="st_tel">전화번호</label>
      <input
        type="phone"
        name="st_tel"
        id="st_tel"
        value="<%= student.st_tel %>"
      />
    </div>
    <div>
      <label for="st_addr">주소</label>
      <input name="st_addr" id="st_addr" value="<%= student.st_addr %>" />
    </div>
    <div>
      <label></label>
      <button type="button" class="btn submit">저장</button>
    </div>
  </fieldset>
  <script>
    // Insert 시에는 st_num 의 input 을 수정 가능하게, Update 시에는 수정 불가능하게 해야 한다.
    const st_num = `<%- student.st_num %>`;
    if (st_num) {
      const numInput = document.querySelector("input[name='st_num']");
      // cf) input 속성의 readonly 와 disabled 차이점
      // form submit 시 readonly 는 값이 전달되지만, disabled 는 전달되지 않는다.
      numInput.setAttribute("readonly", "readonly");
      // numInput.value = st_num;
    }

    /**
     * cf)
     * router 에서 가져온 데이터를 ejs 에서 파싱할 때 문제 발생...
     * JSON.stringify() : JavaScript 값이나 객체를 JSON 형식의 문자열로 변환
     * JSON.parse() : JSON 문자열의 구문을 분석하고, JavaScript 값이나 객체를 반환
     */

    // Update 시 폼에 해당 학생 정보를 넣는다.
    // input tag 에 value 속성을 쓰는 방법 / JS 로 객체의 프로퍼티를 이용하는 방법
    const student = JSON.parse(`<%- JSON.stringify(student) %>`);
    const stInput = document.querySelectorAll("input");
    const stItems = Object.keys(student);
    for (let i = 0; i < stItems.length; i++) {
      // cf) stItems 는 student 객체의 key 배열이므로, i 가 0 일 경우 student['st_num'] 이 된다.
      stInput[i].value = student[`${stItems[i]}`];
    }
  </script>
</form>
