extends layout 
block content 
    link(rel="stylesheet", href="/css/detail.css")
    link(rel="stylesheet", href="/css/bbs_images.css")
    script.
        // pug 변수 bbs._id 데이터를
        // JS 에서 사용할 수 있도록 id 변수에 할당
        const id = `#{bbs._id}`
    script(src="/js/detail.js")
    section.bbs.detail
        article.bbs.detail 
            div.label 작성일자
            div.data= bbs.b_date 
            div.label 작성시각
            div.data= bbs.b_time
            div.label 작성자
            div.data= bbs.b_writer
            div.label 제목
            div.data= bbs.b_subject
            div.label 내용
            div.data= bbs.b_content
        div.bbs.detail.button.box 
            button.bbs.update 수정
            button.bbs.delete 삭제
            button.bbs.list 리스트로 

        article.bbs.comments
            div.comments.title COMMENTS
            div.comments.box
                each comm in bbs.b_comments
                    //- div.avatar
                    p.comment.list.box
                        span.comment.writer= `${comm.ct_writer || 익명}`
                        span.comment.content= comm.ct_comment
                        //- 댓글의 id 를 dataset 으로 설정
                        span.comment.delete(data-id=`${comm.id}`, class="material-symbols-rounded") close
            div.comments.input
                div.msg
                div.comment.input.box
                    input(placeholder="댓글 입력...").comment
                    button.comment 댓글추가
        article.bbs.images
            div.image.box
                div.images
                    img(src="/images/image_1.jpg", alt="")
                    img(src="/images/image_2.jpg", alt="")
                    img(src="/images/image_3.jpg", alt="")
                    img(src="/images/image_4.jpg", alt="")
                    img(src="/images/image_5.jpg", alt="")

                    img(src="/images/image_1.jpg", alt="")
                    img(src="/images/image_2.jpg", alt="")
                    img(src="/images/image_3.jpg", alt="")
                    img(src="/images/image_4.jpg", alt="")
                    img(src="/images/image_5.jpg", alt="")











