<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <%- include('includes/header.ejs')%>
  <body>
    <section><%- include('foods/form.ejs') %></section>
    <section><%- include('foods/list.ejs') %></section>
  </body>
  <%- include('includes/footer.ejs')%>
</html>
