extends ../layout

block content 
    link(rel="stylesheet" href="/css/product/detail.css")
    script.
        const public_p_tax= `#{product.p_tax}`
    script(src="/js/product/detail.js")
    table.detail.container
        thead 
            tr 
                th 상품코드
                th 상품명
                th 대분류
                th 중분류
                th 소분류
                th 제조사
                th 주요매입처
                th 매입단가
                th 과세여부
                th 판매단가
        tbody
            tr 
                td= product.p_code
                td= product.p_title
                td= product.p_main_cat
                td= product.p_mid_cat
                td= product.p_sub_cat
                td= product.p_industry
                td= product.p_buyer
                td= product.p_iprice.toLocaleString("ko-KR")
                td= product.p_tax
                td= product.p_oprice.toLocaleString("ko-KR")
    div(data-p_code=`${product.p_code}`).button.box
        button.product.update 수정
        button.product.delete 삭제